{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
  
</head>
<body>
  
  
    <nav role="navigation" style="background-color: #333333;">
      <div class="nav-wrapper center">
        <a href="#" class="headboard">
         <i class="fas fa-heartbeat fa-lg " style="color:#3FADA8;"></i>
         MERC: Novel Machine Learning Extra Tree Model for Risk Prediction After ST-Elevation Myocardial Infarction <span style="color:#3FADA8;"><b>[ Version 1.0 ]</b></span>
        </a>
        
      </div>
    </nav>
  
  

  <div class="container" style="padding-top: 2vh;">

    
        <h5 class="center">Joint collaborative work of Department of Cardiology, GB Pant Institute of Postgraduate Medical Education and Research (GIPMER),
             New Delhi and SBILab, IIIT-Delhi, and  Centre of Excellence in Healthcare, IIIT-Delhi</h5>
        <p class="center"><b>Principal Investigators:</b> Prof. Mohit Gupta, GIPMER and Prof. Anubha Gupta, IIIT-Delhi</p>
        <p><b>Description:</b> In this project, we have designed and developed an Extra-Tree-based AI model (MERC) to predict all-cause 30-day mortality among the patients suffering from ST-Segment Elevation Myocardial Infarction (STEMI).  MERC utilizes the STEMI data of the North India ST-Elevation Myocardial Infarction (NORIN-STEMI) registry and included 3,635 patients presenting with STEMI at two tertiary care hospitals in New Delhi, India.</p>
        
        
            <p>Please cite <b>the below paper if you use the MERC predictor in your research work.</b></p>
            <p>
              Arora S, Qamar A, Gupta P, Vaduganathan M, Chauhan I, Tripathi AK, et al. Design and rationale of the North Indian ST-Segment Elevation Myocardial Infarction Registry: A prospective cohort study. Clin Cardiol. 2019; 42:1140-46. DOI: 10.1002/clc.23278.
            </p>

        <hr><br>
        
      <h5>Enter Patient Details:</h5>
      <ul class="collection">
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Age</div>
                <div class="col s8 l4"><input id="age" type="number" class="validate"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Gender</div>
                <div class="col s8 l4">
                    <label><input name="group1" type="radio" checked /><span>Male</span></label>  
                    <label><input name="group1" type="radio"  id="gender"/><span>Female</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Syncope</div>
                <div class="col s8 l4">
                    <label><input name="group2" type="radio" checked /><span>Absent</span></label>  
                    <label><input name="group2" type="radio"  id="syncope"/><span>Present</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Diaphoresis</div>
                <div class="col s8 l4">
                    <label><input name="group3" type="radio" checked /><span>Absent</span></label>  
                    <label><input name="group3" type="radio"  id="diaphoresis"/><span>Present</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Mitral Regurgitation</div>
                
                <div class="input-field col s8 l4">
                 <select id="mr">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">No</option>
                    <option value="2">Mild</option>
                    <option value="3">Moderate</option>
                    <option value="4">Severe</option>
                  </select>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Heart Failure at presentation</div>
                <div class="col s8 l4">
                    <label><input name="group4" type="radio" checked /><span>Absent</span></label>  
                    <label><input name="group4" type="radio"  id="hfap"/><span>Present</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Cardiogenic Shock at presentation</div>
                <div class="col s8 l4">
                    <label><input name="group5" type="radio" checked /><span>Absent</span></label>  
                    <label><input name="group5" type="radio"  id="csap"/><span>Present</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Delay to Hospital (If patient delay more than 6hr after MI)</div>
                <div class="col s8 l4">
                    <label><input name="group6" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group6" type="radio"  id="delay"/><span>YES</span></label>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Heart wall Involved</div>
                <div class="input-field col s8 l4">
                    <select id="wall">
                       <option value="" disabled selected>Choose your option</option>
                       <option value="1">Anterior Wall MI</option>
                       <option value="2">Posterior Wall MI</option>
                       <option value="3">Lateral Wall MI</option>
                       <option value="4">Inferior Wall MI</option>
                     </select>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Culprit Coronary Artery in Algorithm</div>
                <div class="input-field col s8 l4">
                    <select multiple id="angiography">
                       <option value="" disabled selected>Choose your option</option>
                       <option value="1">LAD Angiography</option>
                       <option value="2">LCX Angiography</option>
                       <option value="3">LMCA Angiography</option>
                       <option value="4">RCA Angiography</option>
                       <option value="5">SCAD Angiography</option>
                     </select>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">LAD TIMI flow grade</div>
                <div class="input-field col s8 l4">
                    <select id="timi">
                       <option value="" disabled selected>Choose your option</option>
                       <option value="0">0</option>
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                     </select>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">RCA  TIMI flow grade</div>
                <div class="input-field col s8 l4">
                    <select id="rca">
                       <option value="" disabled selected>Choose your option</option>
                       <option value="0">0</option>
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                     </select>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Diabetes Mellitus</div>
                <div class="col s8 l4">
                    <label><input name="group7" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group7" type="radio"  id="diamel"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Hypertension</div>
                <div class="col s8 l4">
                    <label><input name="group8" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group8" type="radio"  id="hyp"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">No PCI Performed</div>
                <div class="col s8 l4">
                    <label><input name="group9" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group9" type="radio"  id="pci"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">PCI performed < 12hr </div>
                <div class="col s8 l4">
                    <label><input name="group10" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group10" type="radio"  id="pcitime"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Hemoglobin (g%)</div>
                <div class="col s8 l4"><input id="hemoglobin" type="number" class="validate"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Serum Creatinine (mg/dL)</div>
                <div class="col s8 l4"><input id="creatinine" type="number" class="validate"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">HbA1C (%)</div>
                <div class="col s8 l4"><input id="hb1ac" type="number" class="validate"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Family History of CAD</div>
                <div class="col s8 l4">
                    <label><input name="group11" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group11" type="radio"  id="famcad"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Physical Activity</div>
                <div class="col s8 l4">
                    <label><input name="group12" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group12" type="radio"  id="physactivity"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Smoking Packs a year</div>
                <div class="col s8 l4">
                    <div class="row">
                        <div class="col s6">
                            <input placeholder="" id="cigperday" type="number" class="validate">
                            <label for="ciggs">Cigarettes per day</label>
                        </div>
                        <div class="col s6">
                            <input  id="smokingyears" type="number" class="validate">
                            <label for="ciggs">Years</label>
                        </div>
                    </div>
                    
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Ejection Fraction (%)</div>
                <div class="col s8 l4">
                        <input id="ejfrac" type="number" class="validate">
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">H/o ACE ARB</div>
                <div class="col s8 l4">
                    <label><input name="group13" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group13" type="radio"  id="acearb"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">H/o Beta Blockers</div>
                <div class="col s8 l4">
                    <label><input name="group14" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group14" type="radio"  id="beta"/><span>YES</span></label>
            </div>
        </li>
      </ul>
      <form class="row form center" id="pred" method='POST' onsubmit="return false" style="margin:3rem;">
        {% csrf_token %}
        <a class="waves-effect waves-light btn-large predict modal-trigger" style="background-color:#3FADA8;" href='#predmodal'>Predict</a>
      </form>
      
  </div>
  
  <div class="modal" id="predmodal">
      <div class="modal-content">
        <h3>
            Mortality Prediction
        </h3>
        <div class="container">
            <div class="row">
                <div class="col s10 l10 center" style="margin-top: 20px;">

                    <div class="preloader-wrapper big active" id="loader">
                        <div class="spinner-layer spinner-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                    <div class="progress hidden" style="background-color:#3FADA8;" id="progbar">
                        <div class="determinate red" id="measure"></div>
                    </div>
                </div>
                <div class="col s2 l2">
                    <h5 id="meas" ></h5>
                </div>

            </div>
            
        </div>

      </div>
      <div class="modal-footer">
        <a href="/insight" class="modal-close waves-effect waves-green btn-small">AI Interpretability Results</a>
        <a href="." class="btn-floating btn-small waves-effect waves-light "><i class="material-icons">refresh</i></a>
        
      </div>
  </div>

  

  

  <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SBI Lab</h5>
          <ul>
            <li><a style="color:#3FADA8;" href="http://sbilab.iiitd.edu.in/">SBI Lab Home</a></li>
          </ul>
          


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">IIIT Delhi</h5>
          <ul>
            <li><a style="color:#3FADA8;" href="https://iiitd.ac.in/">IIITD Home</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright black">
      <div class="container">
      WebApp by <a style="color:#3FADA8;" href="https://www.linkedin.com/in/dikshant-sagar-1964b7110/">Dikshant Sagar</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://kit.fontawesome.com/e0a08b5c11.js" crossorigin="anonymous"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>

</body>
</html>
