{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://kit.fontawesome.com/e0a08b5c11.js" crossorigin="anonymous"></script>
</head>
<body>
  
  <nav class="navbar">
    <nav class="grey darken-4" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="headboard">
         <i class="fas fa-heartbeat fa-lg cyan-text"></i>
         STEMI mortality risk calculator <span class="cyan-text"> [ Version 1.0 ]</span>
        </a>
        
      </div>
    </nav>
  </nav>
  

  <div class="container">
    
        <h3>sOME HEADING</h3>
        <P>sOME CONTENT</P>
    
      <h4>Enter Patient Details:</h4>
      <ul class="collection">
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Age</div>
                <div class="col s8 l4"><input id="age" type="number" class="validate"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Gender</div>
                <div class="col s8 l4">
                    <label><input name="group1" type="radio" checked /><span>Male</span></label>  
                    <label><input name="group1" type="radio"  id="gender"/><span>Female</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Syncope</div>
                <div class="col s8 l4">
                    <label><input name="group2" type="radio" checked /><span>Absent</span></label>  
                    <label><input name="group2" type="radio"  id="syncope"/><span>Present</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Diaphoresis</div>
                <div class="col s8 l4">
                    <label><input name="group3" type="radio" checked /><span>Absent</span></label>  
                    <label><input name="group3" type="radio"  id="diaphoresis"/><span>Present</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Mitral Regurgitation</div>
                
                <div class="input-field col s8 l4">
                 <select id="mr">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">No</option>
                    <option value="2">Mild</option>
                    <option value="3">Moderate</option>
                    <option value="4">Severe</option>
                  </select>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Heart Failure at presentation</div>
                <div class="col s8 l4">
                    <label><input name="group4" type="radio" checked /><span>Absent</span></label>  
                    <label><input name="group4" type="radio"  id="hfap"/><span>Present</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Cardiogenic Shock at presentation</div>
                <div class="col s8 l4">
                    <label><input name="group5" type="radio" checked /><span>Absent</span></label>  
                    <label><input name="group5" type="radio"  id="csap"/><span>Present</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Delay to Hospital (If patient delay more than 6hr after MI)</div>
                <div class="col s8 l4">
                    <label><input name="group6" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group6" type="radio"  id="delay"/><span>YES</span></label>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Heart wall Involved</div>
                <div class="input-field col s8 l4">
                    <select id="wall">
                       <option value="" disabled selected>Choose your option</option>
                       <option value="1">Anterior Wall MI</option>
                       <option value="2">Posterior Wall MI</option>
                       <option value="3">Lateral Wall MI</option>
                       <option value="4">Inferior Wall MI</option>
                     </select>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Culprit Coronary Artery in Algorithm</div>
                <div class="input-field col s8 l4">
                    <select multiple id="angiography">
                       <option value="" disabled selected>Choose your option</option>
                       <option value="1">LAD Angiography</option>
                       <option value="2">LCX Angiography</option>
                       <option value="3">LMCA Angiography</option>
                       <option value="4">RCA Angiography</option>
                       <option value="5">SCAD Angiography</option>
                     </select>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">LAD TIMI flow grade</div>
                <div class="input-field col s8 l4">
                    <select id="timi">
                       <option value="" disabled selected>Choose your option</option>
                       <option value="0">0</option>
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                     </select>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">RCA  TIMI flow grade</div>
                <div class="input-field col s8 l4">
                    <select id="rca">
                       <option value="" disabled selected>Choose your option</option>
                       <option value="0">0</option>
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                     </select>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Diabetes Mellitus</div>
                <div class="col s8 l4">
                    <label><input name="group7" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group7" type="radio"  id="diamel"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Hypertension</div>
                <div class="col s8 l4">
                    <label><input name="group8" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group8" type="radio"  id="hyp"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">PCI Performed</div>
                <div class="col s8 l4">
                    <label><input name="group9" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group9" type="radio"  id="pci"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">PCI performed < 12hr </div>
                <div class="col s8 l4">
                    <label><input name="group10" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group10" type="radio"  id="pcitime"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Hemoglobin (g%)</div>
                <div class="col s8 l4"><input id="hemoglobin" type="number" class="validate"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Serum Creatinine (mg/dL)</div>
                <div class="col s8 l4"><input id="creatinine" type="number" class="validate"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">HbA1C (%)</div>
                <div class="col s8 l4"><input id="hb1ac" type="number" class="validate"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Family History of CAD</div>
                <div class="col s8 l4">
                    <label><input name="group11" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group11" type="radio"  id="famcad"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">Physical Activity</div>
                <div class="col s8 l4">
                    <label><input name="group12" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group12" type="radio"  id="physactivity"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Smoking Packs a year</div>
                <div class="col s8 l4">
                    <div class="row">
                        <div class="col s6">
                            <input placeholder="" id="cigperday" type="number" class="validate">
                            <label for="ciggs">Cigarettes per day</label>
                        </div>
                        <div class="col s6">
                            <input  id="smokingyears" type="number" class="validate">
                            <label for="ciggs">Years</label>
                        </div>
                    </div>
                    
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row mbot">
                <div class="col s4 l8">Ejection Fraction (%)</div>
                <div class="col s8 l4">
                        <input id="ejfrac" type="number" class="validate">
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">H/o ACE ARB</div>
                <div class="col s8 l4">
                    <label><input name="group13" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group13" type="radio"  id="acearb"/><span>YES</span></label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 l8">H/o Beta Blockers</div>
                <div class="col s8 l4">
                    <label><input name="group14" type="radio" checked /><span>NO</span></label>  
                    <label><input name="group14" type="radio"  id="beta"/><span>YES</span></label>
            </div>
        </li>
      </ul>
      <form class="row form center" id="pred" method='POST' onsubmit="return false" style="margin:3rem;">
        {% csrf_token %}
        <a class="waves-effect waves-light btn-large cyan predict modal-trigger" href='#predmodal'>Predict</a>
      </form>
      
  </div>
  
  <div class="modal" id="predmodal">
      <div class="modal-content">
        <h1>
            Mortality Prediction
        </h1>
        <div class="container">
            <div class="row">
                <div class="col s6 l10 center" style="margin-top: 20px;">

                    <div class="preloader-wrapper big active" id="loader">
                        <div class="spinner-layer spinner-blue-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                    <div class="progress cyan hidden" id="progbar">
                        <div class="determinate red" id="measure"></div>
                    </div>
                </div>
                <div class="col s6 l2">
                    <h2 id="meas" style="margin-top: 0;"></h2>
                </div>

            </div>
            
        </div>

      </div>
      <div class="modal-footer">
        <a href="/insight" class="modal-close waves-effect waves-green btn-flat">See Insights</a>
        <a href="." class="modal-close waves-effect waves-green btn-flat">Try Again</a>
      </div>
  </div>


  

  <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SBI Lab</h5>
          <ul>
            <li><a class="cyan-text text-lighten-3" href="http://sbilab.iiitd.edu.in/">SBI Lab Home Home</a></li>
          </ul>
          


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">IIIT Delhi</h5>
          <ul>
            <li><a class="cyan-text text-lighten-3" href="https://iiitd.ac.in/">IIITD Home</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright black">
      <div class="container">
      WebApp by <a class="cyan-text" href="https://www.linkedin.com/in/dikshant-sagar-1964b7110/">Dikshant Sagar</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>

</body>
</html>
